@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --color-text-primary: #141313;
  --color-text-secondary: #8a8f98;
  --color-text-alert: #d72641;
  --color-text-icon: #dbdade;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f3f5f9;
  --color-bg-alert: #fdeaec;
  --color-theme-primary: #623ce6;
}

.hamburger-menu {
  display: none;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
}

.prev-next-button {
  background-color: #3d9d34;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f0eeee;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  width: 100%;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  transition: opacity 0.3s;
}

.add-favorite {
  background-color: #3d9d34;
  color: white;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.remove-favorite {
  background-color: rgb(212, 22, 22);
  color: white;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.prev-next-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.page-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-button {
  background: #3d9d34;
  border: 2px solid #111;
  border-radius: 50%;
  color: #f0eeee;
  font-family: Inter, sans-serif;
  font-size: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.page-button.active {
  background: #623ce6;
}

/* ////HOME PAGE///// */

.footy {
  border-radius: 20px;
}

.teampage123 {
  margin-top: 50px;
}

.livepage {
  margin-top: 50px;
}
.home-container {
  display: flex;
  width: 65%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.top-container {
  flex-direction: row;
  justify-content: space-between;
}

.card1 {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.star-button {
  background: none;
  border: none;
  font-size: 32px;
  color: transparent;
  cursor: pointer;
}

.fas.fa-star {
  color: yellow;
}
.star-empty::before {
  content: "☆";
}

.star-filled::before {
  content: "★";
  color: yellow;
}

.league-filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.league-button {
  width: 100px;
  height: 50px;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.selected {
  background-color: #3d9d34;
  color: #f9f7f7;
  font-weight: bold;
  text-decoration: underline;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.league-name1 {
  font-weight: bold;
}

.leagueLogoPic {
  max-width: 100px;
  max-height: 100px;
}

.league-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.league-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbutton {
  align-items: center;
  background-color: #3d9d34;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f0eeee;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;

  touch-action: manipulation;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.searchbars {
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.button-create .form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  height: 50px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

#find-team {
  width: 100%;
  margin-top: 20px;
}

.searchbutton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

/* ////MODAL////// */

.searchbutton:hover:after {
  transform: translate(0, 0);
}

.searchbutton:active {
  background-color: #ffdeda;
  outline: 0;
}

.searchbutton:hover {
  outline: 0;
}

@media (min-width: 845px) {
  .button-56 {
    padding: 0 40px;
  }
  .league-name1 {
    font-weight: bold;
  }
}
@media (max-width: 844px) {
  .username {
    display: none;
  }

  .league-info {
    display: none;
  }
  .company-logo {
    margin-left: 1px;
  }

  .event-details {
    width: 100%;
  }

  .events-container {
    width: 100%;
  }
}

@media (max-width: 844px) {
  .card1 {
    width: 50%;
  }

  .soccer-scoring-card {
    min-width: 900px;
  }

  .card3 {
    width: 50%;
  }
}
/* ////LOGIN PAGE///// */

.company-logo {
  max-width: 250px;
  padding: 4px;
  height: auto;
  margin: 0 auto;
  /* margin-left: 15%; */
  border-radius: 8px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  width: 100%;
  min-height: 56px;
  z-index: 100;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.login-head {
  padding: 10px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 30px;
}
.login-box {
  margin-bottom: 50px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
}

.logo-image {
  max-width: 100%;
}

.logo-container {
  flex: 1;
  text-align: center;
}

.logo-small {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teamContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 30px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.55);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.team-logo-main {
  align-items: center;
}

.teamname-main.h2 {
  display: flex;
  align-items: center;
}

.teamname-inner {
  font-size: 42px;
}
.country-div {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 15px;
}

.team-logo-main {
  margin-right: 16px;
}

.teamname-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.favebut {
  margin-top: 2px;
}

.fave-button {
  position: fixed;
  top: -5;
  right: 0;
  margin-right: 20px;
  width: 150px;
}

.team-images {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.stadium {
  height: 300px;
  width: auto;
  border-radius: 30px;
}

.team-images img {
  border-radius: 30px;
  width: 100%;
}

.team-images figure {
  text-align: center;
  text-align: relative;
}

figure {
  margin: px;
}
figcaption {
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 30px;
}

.upcoming {
  margin-top: 5px;
}

.next-games {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.game-card {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
}

.game-card h3 {
  font-size: 20px;
}

.game-card h4 {
  font-size: 16px;
}

.versus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.versus h5 {
  font-size: 16px;
}

.versus img {
  max-width: 50px;
}

.livegames {
  margin-top: 25px;
  text-align: center;
}
button,
input,
select,
textarea {
  font: inherit;
}
.button1 {
  background-color: #9aae00;
  color: rgb(18, 18, 18);
}

img {
  display: block;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: rgb(18, 16, 16);
  background-color: var(--color-bg-secondary);
}
main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
}

.maincopy {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  z-index: 0;
  margin: 0 auto;
  margin-bottom: 240px;
  background-color: rgba(23, 23, 34, 0.65);
  color: #e4f9f5;
  max-width: 1200px;
  width: 1100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10%;
}

.search-container {
  margin-top: 0px;
}

.smaller-card {
  width: 30%;
  background-color: #e0e0e0;
  padding: 10px;
}
.ai-response {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copy {
  margin-bottom: 20px;
}
input[type="text"] {
  margin-right: 8px;
}
.match-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 0 2%;
  margin-bottom: 0;
  font-size: 18px;
}

.match-container2 {
  width: 59%;
}

.card2 {
  width: 41%;
  margin-left: 5px;
  max-height: 225px;
}
.card3 {
  max-height: 100%;
}

.match-find-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match,
.no-games-card {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(13, 6, 6);
  min-width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.match-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(#303030, 0.1);
  padding: 8px;
}

.team-logo img {
  max-width: 60px;
  max-height: 60px;
}

.match-content {
  padding: 8px;
}

.team-name {
  font-size: 14px;
}

.match-details {
  font-size: 12px;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.prev-next-button {
  padding: 8px;
  font-size: 14px;
}

.tournament-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.league-name {
  font-size: 14px;
  text-align: center;
}

.match-tournament {
  display: flex;
  align-items: center;
  font-weight: 600;
  img {
    width: 20px;
    margin-right: 12px;
  }
}

.match-actions {
  display: flex;
}

.btn-icon {
  border: 0;
  background-color: transparent;
  color: var(--color-text-icon);
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-content {
  display: flex;
  position: relative;
}

.column {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(248, 246, 246);
  box-shadow: 0 4px 4px 0 black, 0 0 0 15px var(--color-bg-secondary);
}
.team-logo img {
  max-width: 100%;
  height: auto;
}

#createbutton1 {
  background-color: #1c6f0c;
}
.input-container {
  display: flex;
  align-items: center;
}

.team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}

.match {
  width: 800px;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 30px;

  color: rgb(21, 21, 37);
  background: url("../public/pitch.jpg") center / cover no-repeat fixed;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 300px;

  padding: 5px;

  margin: 10px;
  text-align: center;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

.match-date,
.match-referee {
  font-size: 20px;
  color: rgb(17, 17, 17);
  strong {
    color: var(--color-text-primary);
  }
}

.match-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.match-score-number {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  &--leading {
    color: var(--color-theme-primary);
  }
}

.match-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: rgb(14, 14, 14);
  margin-left: 10px;
  margin-right: 10px;
}

.match-time-lapsed {
  color: #f31e0a;
  font-size: 29px;
  font-weight: 600;
  margin-top: 8px;
}

.match-referee {
  margin-top: 12px;
}

.container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: transparent;
  border-radius: 7px;
  height: auto;
}

.intro-container {
  max-width: 100%;
  margin-top: 5px;
  width: 500px;
}

.card1 {
  width: 100%;
  margin-top: 50px;
}

.soccer-scoring-card {
  min-width: 900px;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.more-info-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.searchboi {
  margin-top: 33.9px;
}
.home-container-outer {
  display: flex;
  justify-content: center;
}

.home-container {
  max-width: 800px;
  width: 100%;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.intro-container {
  flex: 0.1;
  margin-right: 16px;
}

.card1 {
  flex: 1;
}

.league-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.teams-container {
  display: flex;
}

.team {
  flex: 1;
  padding: 10px;
}

.team-name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.events-container {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #ddd;
  margin: 0 10px;
}

.events-header {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.small-icon {
  width: 30px;
  height: 30px;
}

.team .events-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.match-event {
  display: flex;
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-time {
  font-size: 0.9rem;
}

.event-type,
.event-detail {
  font-size: 0.8rem;
}

.player-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 17.8%;
  bottom: 13%;
  max-width: 786px;
  max-height: 100%;
  border-radius: 30px;
  border: black 3px solid;
  background: rgb(153, 255, 143);
  background: linear-gradient(
    236deg,
    rgb(203, 210, 202) 0%,
    rgb(135, 228, 146) 45%,
    rgb(238, 240, 237) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#blacktext {
  color: black;
  font-size: 20px;
}

.modal-create {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(10, 10, 10);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #090808;
  font-size: 40px;
  cursor: pointer;
}

.close:hover {
  color: #0f0e0e;
}

.modal-content p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sticky-topnav {
  position: fixed;
  width: 100%;
  background-color: #333;
  padding: 15px 0;
  top: 0;
  z-index: 100;
}

.dropdown-content {
  display: none;
  min-width: -webkit-fill-available;
  text-align: left;
  position: absolute;

  color: rgb(247, 242, 242);
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999999;
  width: 130px;
}

.dropdown:hover .dropdown-content {
  display: none;
}

.league-dropdown,
option {
  border-radius: 8px;
  background-color: rgba(236, 232, 232, 0.76);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: rgb(8, 7, 7);
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  z-index: 999;
  width: 130px;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333333;
  width: 130px;
}

@media screen and (max-width: 845px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 845px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  color: #101212;
}
.container {
  position: absolute;
  z-index: 1;
  margin-top: 110;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: transparent;
  border-radius: 7px;

  height: 450px;
}
.container .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.button1:hover {
  background: #748307;
}

.login.form {
  max-width: 400px;
  padding: 35px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.signup {
  font-size: 17px;
  text-align: center;
  color: white;
}
.signup123 {
  color: #5e6d6a;
}

.signup1 {
  font-size: 17px;
  text-align: center;
  color: #9aae00;
}
.signup2 {
  font-size: 17px;
  text-align: center;
  color: #9aae00;
}
.signup label {
  color: #9aae00;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}
.login1 {
  font-size: 17px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

.button {
  transition-duration: 0.4s;
  border-radius: 12px;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.loading-spinner {
  background-image: url("../public/soccerball.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center bottom 4px;
  margin: 0 auto;
  display: block;
  animation: spin 1s linear infinite;
  transform-origin: 50% 42%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.username {
  float: right;
  color: #f2f2f2;
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
}

.footy {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.tLogo {
  height: 70px;
}

@media only screen and (max-width: 845px) {
  .match-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .match-find-container {
    width: 100px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .card2 {
    width: 60%;
    margin: 0 auto;
    max-width: none;
  }

  .match-container2 {
    margin-right: 20px;
  }

  .modal {
    max-width: 65%;
  }

  .league-filter-bar {
    flex-direction: column;
    align-items: center;
  }

  .league-button,
  .league-dropdown {
    width: 100%;
    margin-bottom: 10px;
  }

  .match {
    width: 100%;
  }
}

@media screen and (min-width: 845px) {
  .card {
    max-width: 300px;
  }

  .pagination-buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 845px) {
  .league-dropdown {
    display: block;
    width: 25%;
    padding: 10px;
    margin-top: 10px;
  }

  .league-button {
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 845px) {
  .live-matches-container {
    width: 85%;
  }

  .match {
    min-width: 100%;
    margin: 10px 5% 10px 5%;
  }
}

@media only screen and (max-width: 845px) {
  .home-container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .top-container {
    flex-direction: column;
  }

  .intro-container,
  .search-container {
    max-width: 100%;
  }

  .top-container {
    display: flex;
    flex-wrap: wrap;
  }

  .match-find-container,
  .card2 {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 845px) {
  .top-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team-logo-main {
    margin-bottom: 10px;
  }

  .teamname-inner {
    font-size: 1.5em;
  }

  .country-div {
    margin-top: 5px;
  }

  .footy {
    margin-top: 50px;
  }

  .next-games {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .live-matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .custom-dropdown {
    position: relative;
    display: inline-block;
  }

  .custom-dropdown span {
    display: block;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .custom-dropdown select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .teams-container {
    max-width: 50%;
    margin: 0 auto;
  }

  .match-find-container {
    flex: 1 0 200px;
  }

  .card1,
  .card3 {
    width: 100%;
    min-width: 200px;
    margin: 10 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 200px;
  }

  .soccer-scoring-card {
    min-width: 900px;
    /* width: 70%; */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-button {
    display: flex;
    justify-content: start;
  }

  .teams-container {
    max-width: 50%;
    margin: 0 auto;
  }

  .events-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .match-event {
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .event-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .event-time,
  .event-type,
  .player-name {
    font-size: 16px;
  }

  .small-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .navbar-brand {
    order: 2;
    flex: 1;
    text-align: center;
  }

  .navbar-brand img {
    max-width: 100%;
  }

  .navbar-menu {
    order: 3;
  }

  .navbar-menu-button {
    display: none;
  }

  .navbar-menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-menu-item {
    margin-right: 10px;
  }

  .navbar-menu-button {
    display: block;
    order: 1;
  }

  .navbar-menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu-list.show {
    display: flex;
  }
  .teams-container {
    flex-direction: column;
  }

  .team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-logo,
  .team-details {
    text-align: center;
    margin-bottom: 10px;
  }

  .events-container {
    margin-top: 10px;
  }

  .match-event {
    font-size: initial;
  }

  .match-event .event-details {
    font-size: 16px;
  }

  .vertical-line {
    display: none;
  }

  .score-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .match-score-number {
    margin-bottom: 5px;
  }

  .match-score-divider {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 450px) {
  .hidden-on-small-screen {
    display: none;
  }
}

@media screen and (min-width: 350px) and (max-width: 874px) {
  .login.form,
  .login-head,
  .footy {
    max-width: 80%;
  }

  .footy {
    margin-bottom: 20px;
  }
  .login.form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .match-find-container,
  .match-container2,
  .match-container {
    width: 100%;
    display: flex;
    margin-right: none;
    justify-content: flex-start;
  }

  .match-container2 {
    margin-left: 25px;
  }

  .searchbutton:after {
    background-color: transparent;
  }

  .searchbars {
    margin-bottom: 0px;
  }

  .match-content {
    max-width: 100%;
  }
  .live-matches-container {
    max-width: 55%;
  }

  .team-logo {
    max-height: 60px;
    max-width: 60px;
  }
  .pagination-buttons {
    display: flex;
    flex-direction: column;
  }

  .teams-container {
    max-width: 50%;
  }
  .event-time,
  .event-type-icon,
  .player-name,
  .event-type {
    margin: 10px;
  }

  .player-name {
    width: 100%;
  }

  .events-container {
    display: flex;
    align-items: center;
  }

  .event-time,
  .player-name {
    margin: 0;
  }

  .hamburger-menu {
    display: block;
    margin-left: 10px;
    position: relative;
    z-index: 999999; /* Adjust the z-index as needed */
  }

  .hamburger-menu button {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .modal {
    width: 100%;
    max-width: 325px;
    margin: 0;
    overflow: hidden;
  }
  .modal-content {
    width: 100%;
  }

  .modal-content p {
    font-size: 16px;
    overflow: hidden;
  }
  .modal-content h2 {
    font-size: 20px;
  }

  .error-message {
    font-size: 15px;
  }

  .form__group {
    width: 100%;
    font-size: 14px;
  }

  .company-logo {
    margin: 0 auto;
  }

  .topnav {
    display: flex;
    z-index: 1000;
  }

  .menu-dropdown {
    margin-left: 10px;
    position: relative;
    z-index: 999999; /* Adjust the z-index as needed */
  }

  label {
    font-size: 20px;
    color: white;
    margin-right: 5px;
  }

  select {
    font-size: 16px;
    padding: 5px;
  }

  .topnav {
    font-size: 14px;
  }
}
